<button id="btn_add"
        mat-raised-button
        color="primary"
        (click)="openDialog()"
        matTooltip="Neue Buchung"
        [disabled]="isLoading"> <!-- Add this line -->
  <mat-icon>add</mat-icon>
</button>

<div *ngIf="isLoading" class="loading-circle"></div>
<div *ngIf="!isLoading">
<table>
  <thead>
  <tr>
    <th>Beginn</th>
    <th>Ende</th>
    <th>Zeit</th>
    <th>Bezeichnung</th>
    <th>Typ</th>
    <th style="text-align: center">Aktionen</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tracking of timeTrackings">
    <td style="text-align: right; width:18%">{{ tracking.startOfRecord | date:'dd.MM.yyyy HH:mm' }} Uhr</td>
    <td style="text-align: right; width:18%">{{ tracking.endOfRecord | date:'dd.MM.yyyy HH:mm' }} Uhr</td>
    <td style="text-align: right; width:10%">{{ differenceInMillis(tracking.startOfRecord, tracking.endOfRecord) | duration }}</td>
    <td style="width: 30%">{{ tracking.shortDescription }}</td>
    <td style="width: 14%">{{ mapBookingType(tracking.bookingTypeId) }}</td>
    <td style="width: 10%">
      <button mat-button (click)="openDialog(tracking)" matTooltip="Buchung bearbeiten"><mat-icon color="primary">edit</mat-icon></button>
      <button mat-button (click)="deleteTimeTracking(tracking.id)" matTooltip="Buchung löschen"><mat-icon color="primary">delete</mat-icon></button>
    </td>
  </tr>
  </tbody>
</table>
</div>
<div class="totals">
  <h2>Zusammenzug</h2>
  <div *ngFor="let bookingType of bookingTypes">
    {{bookingType.description}}: {{ timeTotals[bookingType.bookingTypeId] | duration }}<br>
  </div>
</div>
